{% extends 'application.html' %}


{% block content %}


<form method="post">

    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome">

    <label for="email">E-mail: </label>
    <input type="text" name="email" id="email">

    <input type="submit" value="Cadastrar">

</form>


{% endblock %}