<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="{{ url_for('home.index') }}">Home</a> | 
    <a href="{{ url_for('home.sobre') }}">Sobre</a> |
    <a href="{{ url_for('pessoa.new') }}">Cadastrar</a> |
    <a href="{{ url_for('pessoa.pessoas') }}">Registros</a>
    <hr>

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/application.js') }}"></script>
</body>
</html>